@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 48px;
    margin: 20px 0;
}

.button {
    color: #ffffff;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.startBtn{
    background-color: green;
}
.stopBtn{
    background-color: red;
}
.resetBtn{
    background-color: grey;
}
.shortBreakBtn{
    background-color: blue;
}
.longBreakBtn{
    background-color: violet;
}

.button:hover {
    background-color: #21a1f1;
}
.heading{
    color: black;
}
.timer{
    color: black;
}
